################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XUnitTestProject/.vs
/.vs/TestProjects
/TestClassLibrary/obj
/XUnitTestProject/obj
